@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Roboto";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #000;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  height: 2.1875rem;
  padding: 0 0.9375rem;
  border: 0.0625rem solid #fff;
  background-color: transparent;
  color: #fff;
}

.input._form-error {
  border-color: red;
}

.input::-webkit-input-placeholder {
  color: #fff;
}

.input::-moz-placeholder {
  color: #fff;
}

.input:-ms-input-placeholder {
  color: #fff;
}

.input::-ms-input-placeholder {
  color: #fff;
}

.input::placeholder {
  color: #fff;
}

.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::-moz-placeholder {
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-moz-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0;
}

textarea.input {
  resize: none;
}

.select {
  min-width: 0;
  position: relative;
}

.select__body {
  position: relative;
}

.select__title {
  color: inherit;
  text-align: left;
  border: 0.0625rem solid #fff;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.875rem;
  padding: 0 0.9375rem;
  gap: 0.625rem;
}

.select__value > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__value:after {
  content: "";
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.9375rem;
          flex: 0 0 0.9375rem;
  width: 0.9375rem;
  height: 0.9375rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateY(15%) rotate(-45deg);
      -ms-transform: translateY(15%) rotate(-45deg);
          transform: translateY(15%) rotate(-45deg);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 0.0625rem solid #fff;
  border-left: 0.0625rem solid #fff;
}

._select-open .select__value:after {
  -webkit-transform: translateY(70%) rotate(-225deg);
      -ms-transform: translateY(70%) rotate(-225deg);
          transform: translateY(70%) rotate(-225deg);
}

.select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: 0.5;
}

.select__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  position: absolute;
  top: calc(100% - 0.0625rem);
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  padding: 10px 0px 5px 0px;
}

.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 12.5rem;
}

.select__option {
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding: 5px 15px;
  color: inherit;
}

.select__option._select-selected {
  background-color: #eee;
}

.select__row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select--show-top .select__options {
  top: auto;
  bottom: calc(100% - 0.0625rem);
  border: 1px solid #d9d9d9;
  border-bottom: 0;
  border-radius: 4px 4px 0 0;
  padding: 5px 0px 10px 0px;
}

._select-tag {
  cursor: pointer;
}

.icon-menu {
  display: none;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ibg--top {
  -o-object-position: top;
     object-position: top;
}

.ibg--bottom {
  -o-object-position: bottom;
     object-position: bottom;
}

.ibg--left {
  -o-object-position: left;
     object-position: left;
}

.ibg--right {
  -o-object-position: right;
     object-position: right;
}

.ibg--contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.button {
  text-transform: uppercase;
  border-radius: 0.625rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
  line-height: 133%;
  background-color: #2c2c2c;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.button.button--submit {
  background-color: #fff;
  color: #000;
}

.loader {
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #FFF #FFF transparent transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-animation: rotation 1s linear infinite;
          animation: rotation 1s linear infinite;
}

.loader::after,
.loader::before {
  content: "";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #FF3D00 #FF3D00;
  border-radius: 50%;
  box-sizing: border-box;
  -webkit-animation: rotationBack 0.5s linear infinite;
          animation: rotationBack 0.5s linear infinite;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
}

.loader::before {
  border-color: #FFF #FFF transparent transparent;
  -webkit-animation: rotation 1.5s linear infinite;
          animation: rotation 1.5s linear infinite;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes rotationBack {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes rotationBack {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
  -webkit-transition: background-color 0.3s, -webkit-box-shadow 0.3s;
  transition: background-color 0.3s, -webkit-box-shadow 0.3s;
  transition: background-color 0.3s, box-shadow 0.3s;
  transition: background-color 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
  -webkit-backdrop-filter: blur(0.625rem);
          backdrop-filter: blur(0.625rem);
}

.header._header-scroll {
  background-color: #000;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.header__container {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  min-height: 6.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.header__logo img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__menu {
  justify-self: flex-end;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.3125rem;
}

.menu__link {
  text-transform: uppercase;
  font-size: 1.125rem;
  line-height: 133%;
  letter-spacing: 0.05em;
  color: #fff;
  position: relative;
}

.menu__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  width: 0;
  height: 0.0625rem;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.actions-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.625rem;
}

.actions-header__link {
  text-transform: uppercase;
  line-height: 133%;
  letter-spacing: 0.05em;
  color: #fff;
  position: relative;
}

.actions-header__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  width: 0;
  height: 0.0625rem;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  min-height: 100svh;
}

.hero__title {
  font-weight: 200;
  max-width: 37.5rem;
  line-height: 120%;
}

.hero__title strong {
  font-weight: 500;
}

.hero__text {
  padding: 0.9375rem;
  margin: 0 -0.9375rem;
  background-color: #000;
  line-height: 133%;
  text-align: center;
}

.achievements__items {
  display: -ms-grid;
  display: grid;
  gap: 0.9375rem;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
}

.item-achievements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-achievements__title {
  font-weight: 400;
  line-height: 120%;
}

.item-achievements__text {
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  font-size: 1rem;
  line-height: 133%;
}

.brands {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.brands__title {
  max-width: 31.25rem;
  font-weight: 300;
  line-height: 120%;
}

.brands__title strong {
  font-weight: 600;
}

.brands__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__title {
  font-weight: 300;
  line-height: 120%;
  text-align: center;
}

.about__title strong {
  font-weight: 500;
}

.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__body:not(:last-child) {
  margin-bottom: 1.25rem;
}

.about__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  max-width: 28.125rem;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.about__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.about__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.125rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
}

.about__icon {
  position: relative;
  top: -0.9375rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 4.6875rem;
          flex: 0 0 4.6875rem;
  width: 4.6875rem;
  height: 4.6875rem;
}

.about__icon--01 {
  background: url("../img/icons/01.webp") left/cover no-repeat;
}

.about__icon--02 {
  background: url("../img/icons/02.webp") left/cover no-repeat;
}

.about__icon--03 {
  background: url("../img/icons/03.webp") left/cover no-repeat;
}

.about__icon--04 {
  background: url("../img/icons/04.webp") left/cover no-repeat;
}

.about__icon--05 {
  background: url("../img/icons/05.webp") left/cover no-repeat;
}

.about__icon--06 {
  background: url("../img/icons/06.webp") left/cover no-repeat;
}

.about__icon--07 {
  background: url("../img/icons/07.webp") left/cover no-repeat;
}

.about__icon--08 {
  background: url("../img/icons/08.webp") left/cover no-repeat;
}

.about__icon--09 {
  background: url("../img/icons/09.webp") left/cover no-repeat;
}

.about__text {
  font-size: 1rem;
  line-height: 133%;
}

.contacts__top {
  background-color: #1f1f1f;
  padding-bottom: 0.9375rem;
  position: relative;
}

.contacts__top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(31, 31, 31, 0.5);
  z-index: 2;
}

.contacts__title {
  font-weight: 500;
  position: relative;
  z-index: 3;
  margin: 0 auto;
  max-width: 37.5rem;
  text-align: center;
  line-height: 120%;
}

.contacts__title span {
  display: block;
}

.contacts__video {
  aspect-ratio: 16/9;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
}

.contacts__form {
  margin: 0 auto;
  max-width: 56.25rem;
  margin-bottom: 1.875rem;
}

.form-contacts {
  display: -ms-grid;
  display: grid;
  gap: 1.875rem;
  position: relative;
}

.form-contacts::before {
  content: "";
  position: absolute;
  top: 0;
  border-radius: 0.75rem;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(31, 31, 31, 0.5);
  -webkit-backdrop-filter: blur(0.25rem);
          backdrop-filter: blur(0.25rem);
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.form-contacts .sending {
  position: absolute;
  inset: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.form-contacts._sending {
  pointer-events: none;
}

.form-contacts._sending .sending {
  opacity: 1;
}

.form-contacts._sending .loader {
  opacity: 1;
}

.form-contacts._sending::before {
  opacity: 1;
}

.form-contacts__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
}

.form-contacts__label {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.form-contacts__label .form__error {
  padding-top: 0.625rem;
  color: red;
}

.form-contacts__title {
  font-size: 1rem;
  line-height: 120%;
  margin-bottom: 0.625rem;
}

.form-contacts__textarea {
  padding: 0.625rem 0.9375rem;
  resize: vertical;
  height: auto;
  min-height: 12.5rem;
  max-height: 25rem;
}

@media (min-width: 75em) {
  .loader {
    width: 6rem;
  }

  .loader {
    height: 6rem;
  }

  .loader::after,
  .loader::before {
    width: 5rem;
  }

  .loader::after,
  .loader::before {
    height: 5rem;
  }

  .loader::before {
    width: 4rem;
  }

  .loader::before {
    height: 4rem;
  }

  .header__logo {
    max-width: 10rem;
  }

  .header__logo {
    -ms-flex-preferred-size: 10rem;
        flex-basis: 10rem;
  }

  .menu__list {
    -webkit-column-gap: 3.75rem;
       -moz-column-gap: 3.75rem;
            column-gap: 3.75rem;
  }

  .actions-header__list {
    -webkit-column-gap: 3.75rem;
       -moz-column-gap: 3.75rem;
            column-gap: 3.75rem;
  }

  .actions-header__link {
    font-size: 1.125rem;
  }

  .hero__container {
    padding-bottom: 3.125rem;
  }

  .hero__title {
    padding-top: 18.75rem;
  }

  .hero__title {
    padding-bottom: 28.125rem;
  }

  .hero__title {
    font-size: 4.25rem;
  }

  .hero__text {
    font-size: 1.75rem;
  }

  .achievements {
    padding-top: 6.25rem;
  }

  .achievements {
    padding-bottom: 6.25rem;
  }

  .item-achievements__title {
    font-size: 4.25rem;
  }

  .brands {
    padding-top: 9.375rem;
  }

  .brands {
    padding-bottom: 9.375rem;
  }

  .brands__title {
    font-size: 3rem;
  }

  .brands__title:not(:last-child) {
    margin-bottom: 3.125rem;
  }

  .about {
    padding-top: 9.375rem;
  }

  .about {
    padding-bottom: 9.375rem;
  }

  .about__title {
    font-size: 3rem;
  }

  .about__title:not(:last-child) {
    margin-bottom: 3.125rem;
  }

  .about__body {
    gap: 3.125rem;
  }

  .contacts__top {
    padding-top: 12.5rem;
  }

  .contacts__title {
    font-size: 2.875rem;
  }

  .contacts__title span {
    font-size: 2.8125rem;
  }

  .form-contacts {
    padding-top: 3.125rem;
  }

  .form-contacts .sending {
    width: 6rem;
  }

  .form-contacts .sending {
    height: 6rem;
  }
}

@media (max-width: 20em) {
  .loader {
    width: 3rem;
  }

  .loader {
    height: 3rem;
  }

  .loader::after,
  .loader::before {
    width: 2.5rem;
  }

  .loader::after,
  .loader::before {
    height: 2.5rem;
  }

  .loader::before {
    width: 2rem;
  }

  .loader::before {
    height: 2rem;
  }

  .header__logo {
    max-width: 3.75rem;
  }

  .header__logo {
    -ms-flex-preferred-size: 3.75rem;
        flex-basis: 3.75rem;
  }

  .menu__list {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .actions-header__link {
    font-size: 1.125rem;
  }

  .hero__container {
    padding-bottom: 1.875rem;
  }

  .hero__title {
    padding-top: 9.375rem;
  }

  .hero__title {
    padding-bottom: 9.375rem;
  }

  .hero__title {
    font-size: 2rem;
  }

  .hero__text {
    font-size: 1.375rem;
  }

  .achievements {
    padding-top: 1.875rem;
  }

  .achievements {
    padding-bottom: 1.875rem;
  }

  .item-achievements__title {
    font-size: 3rem;
  }

  .brands {
    padding-top: 1.875rem;
  }

  .brands {
    padding-bottom: 1.875rem;
  }

  .brands__title {
    font-size: 2rem;
  }

  .brands__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .about {
    padding-top: 1.875rem;
  }

  .about {
    padding-bottom: 1.875rem;
  }

  .about__title {
    font-size: 2rem;
  }

  .about__title:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .about__body {
    gap: 1.875rem;
  }

  .contacts__top {
    padding-top: 6.25rem;
  }

  .contacts__title {
    font-size: 1.5rem;
  }

  .contacts__title span {
    font-size: 1.5rem;
  }

  .form-contacts {
    padding-top: 1.875rem;
  }

  .form-contacts .sending {
    width: 3rem;
  }

  .form-contacts .sending {
    height: 3rem;
  }
}

@media (max-width: 62.06125em) {
  .actions-header__list {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
}

@media (max-width: 47.99875em) {
  .actions-header__item:nth-child(2) {
    display: none;
  }

  .about__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about__image {
    -ms-grid-column-align: center;
        justify-self: center;
  }

  .form-contacts__items {
    gap: 1.25rem;
  }
}

@media (max-width: 29.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 6.25rem 0.9375rem 0.9375rem 1.875rem;
    background-color: #000;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    min-height: 100vh;
    min-height: 100svh;
  }

  .menu__body::before {
    background-color: #000;
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    z-index: 2;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .header__container {
    min-height: 5rem;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    row-gap: 1.25rem;
  }

  .achievements__items {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .brands__items {
    padding: 0.9375rem 0;
    overflow: auto;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .about__icon {
    top: -0.625rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 4.375rem;
            flex: 0 0 4.375rem;
    width: 4.375rem;
    height: 4.375rem;
  }

  .form-contacts {
    gap: 1.25rem;
  }

  .form-contacts__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .form-contacts__textarea {
    min-height: 7.5rem;
  }
}

@media (max-width: 29.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 29.99875em) and (max-width: 20em) {
  .menu__link {
    font-size: 1.5rem;
  }
}

@media (min-width: 20em) and (max-width: 75em) {
@supports (width: clamp( 3rem , 1.9090909091rem  +  5.4545454545vw , 6rem )) {
    .loader {
      width: clamp( 3rem , 1.9090909091rem  +  5.4545454545vw , 6rem );
    }
}

@supports not (width: clamp( 3rem , 1.9090909091rem  +  5.4545454545vw , 6rem )) {
    .loader {
      width: calc(3rem + 3 * (100vw - 20rem) / 55);
    }
}

@supports (height: clamp( 3rem , 1.9090909091rem  +  5.4545454545vw , 6rem )) {
    .loader {
      height: clamp( 3rem , 1.9090909091rem  +  5.4545454545vw , 6rem );
    }
}

@supports not (height: clamp( 3rem , 1.9090909091rem  +  5.4545454545vw , 6rem )) {
    .loader {
      height: calc(3rem + 3 * (100vw - 20rem) / 55);
    }
}

@supports (width: clamp( 2.5rem , 1.5909090909rem  +  4.5454545455vw , 5rem )) {
    .loader::after,
    .loader::before {
      width: clamp( 2.5rem , 1.5909090909rem  +  4.5454545455vw , 5rem );
    }
}

@supports not (width: clamp( 2.5rem , 1.5909090909rem  +  4.5454545455vw , 5rem )) {
    .loader::after,
    .loader::before {
      width: calc(2.5rem + 2.5 * (100vw - 20rem) / 55);
    }
}

@supports (height: clamp( 2.5rem , 1.5909090909rem  +  4.5454545455vw , 5rem )) {
    .loader::after,
    .loader::before {
      height: clamp( 2.5rem , 1.5909090909rem  +  4.5454545455vw , 5rem );
    }
}

@supports not (height: clamp( 2.5rem , 1.5909090909rem  +  4.5454545455vw , 5rem )) {
    .loader::after,
    .loader::before {
      height: calc(2.5rem + 2.5 * (100vw - 20rem) / 55);
    }
}

@supports (width: clamp( 2rem , 1.2727272727rem  +  3.6363636364vw , 4rem )) {
    .loader::before {
      width: clamp( 2rem , 1.2727272727rem  +  3.6363636364vw , 4rem );
    }
}

@supports not (width: clamp( 2rem , 1.2727272727rem  +  3.6363636364vw , 4rem )) {
    .loader::before {
      width: calc(2rem + 2 * (100vw - 20rem) / 55);
    }
}

@supports (height: clamp( 2rem , 1.2727272727rem  +  3.6363636364vw , 4rem )) {
    .loader::before {
      height: clamp( 2rem , 1.2727272727rem  +  3.6363636364vw , 4rem );
    }
}

@supports not (height: clamp( 2rem , 1.2727272727rem  +  3.6363636364vw , 4rem )) {
    .loader::before {
      height: calc(2rem + 2 * (100vw - 20rem) / 55);
    }
}

@supports (max-width: clamp( 3.75rem , 1.4772727273rem  +  11.3636363636vw , 10rem )) {
    .header__logo {
      max-width: clamp( 3.75rem , 1.4772727273rem  +  11.3636363636vw , 10rem );
    }
}

@supports not (max-width: clamp( 3.75rem , 1.4772727273rem  +  11.3636363636vw , 10rem )) {
    .header__logo {
      max-width: calc(3.75rem + 6.25 * (100vw - 20rem) / 55);
    }
}

@supports (flex-basis: clamp( 3.75rem , 1.4772727273rem  +  11.3636363636vw , 10rem )) {
    .header__logo {
      -ms-flex-preferred-size: clamp( 3.75rem , 1.4772727273rem  +  11.3636363636vw , 10rem );
          flex-basis: clamp( 3.75rem , 1.4772727273rem  +  11.3636363636vw , 10rem );
    }
}

@supports not (flex-basis: clamp( 3.75rem , 1.4772727273rem  +  11.3636363636vw , 10rem )) {
    .header__logo {
      -ms-flex-preferred-size: calc(3.75rem + 6.25 * (100vw - 20rem) / 55);
          flex-basis: calc(3.75rem + 6.25 * (100vw - 20rem) / 55);
    }
}

@supports ((-moz-column-gap: clamp( 0.9375rem , -0.0852272727rem  +  5.1136363636vw , 3.75rem )) or (column-gap: clamp( 0.9375rem , -0.0852272727rem  +  5.1136363636vw , 3.75rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 0.9375rem , -0.0852272727rem  +  5.1136363636vw , 3.75rem );
         -moz-column-gap: clamp( 0.9375rem , -0.0852272727rem  +  5.1136363636vw , 3.75rem );
              column-gap: clamp( 0.9375rem , -0.0852272727rem  +  5.1136363636vw , 3.75rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , -0.0852272727rem  +  5.1136363636vw , 3.75rem )) or (column-gap: clamp( 0.9375rem , -0.0852272727rem  +  5.1136363636vw , 3.75rem ))) {
    .menu__list {
      -webkit-column-gap: calc(0.9375rem + 2.8125 * (100vw - 20rem) / 55);
         -moz-column-gap: calc(0.9375rem + 2.8125 * (100vw - 20rem) / 55);
              column-gap: calc(0.9375rem + 2.8125 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.125rem , 1.125rem  +  0vw , 1.125rem )) {
    .actions-header__link {
      font-size: clamp( 1.125rem , 1.125rem  +  0vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.125rem  +  0vw , 1.125rem )) {
    .actions-header__link {
      font-size: calc(1.125rem + 0 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.4204545455rem  +  2.2727272727vw , 3.125rem )) {
    .hero__container {
      padding-bottom: clamp( 1.875rem , 1.4204545455rem  +  2.2727272727vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.4204545455rem  +  2.2727272727vw , 3.125rem )) {
    .hero__container {
      padding-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 9.375rem , 5.9659090909rem  +  17.0454545455vw , 18.75rem )) {
    .hero__title {
      padding-top: clamp( 9.375rem , 5.9659090909rem  +  17.0454545455vw , 18.75rem );
    }
}

@supports not (padding-top: clamp( 9.375rem , 5.9659090909rem  +  17.0454545455vw , 18.75rem )) {
    .hero__title {
      padding-top: calc(9.375rem + 9.375 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 9.375rem , 2.5568181818rem  +  34.0909090909vw , 28.125rem )) {
    .hero__title {
      padding-bottom: clamp( 9.375rem , 2.5568181818rem  +  34.0909090909vw , 28.125rem );
    }
}

@supports not (padding-bottom: clamp( 9.375rem , 2.5568181818rem  +  34.0909090909vw , 28.125rem )) {
    .hero__title {
      padding-bottom: calc(9.375rem + 18.75 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 2rem , 1.1818181818rem  +  4.0909090909vw , 4.25rem )) {
    .hero__title {
      font-size: clamp( 2rem , 1.1818181818rem  +  4.0909090909vw , 4.25rem );
    }
}

@supports not (font-size: clamp( 2rem , 1.1818181818rem  +  4.0909090909vw , 4.25rem )) {
    .hero__title {
      font-size: calc(2rem + 2.25 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.375rem , 1.2386363636rem  +  0.6818181818vw , 1.75rem )) {
    .hero__text {
      font-size: clamp( 1.375rem , 1.2386363636rem  +  0.6818181818vw , 1.75rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.2386363636rem  +  0.6818181818vw , 1.75rem )) {
    .hero__text {
      font-size: calc(1.375rem + 0.375 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.2840909091rem  +  7.9545454545vw , 6.25rem )) {
    .achievements {
      padding-top: clamp( 1.875rem , 0.2840909091rem  +  7.9545454545vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.2840909091rem  +  7.9545454545vw , 6.25rem )) {
    .achievements {
      padding-top: calc(1.875rem + 4.375 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.2840909091rem  +  7.9545454545vw , 6.25rem )) {
    .achievements {
      padding-bottom: clamp( 1.875rem , 0.2840909091rem  +  7.9545454545vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.2840909091rem  +  7.9545454545vw , 6.25rem )) {
    .achievements {
      padding-bottom: calc(1.875rem + 4.375 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 3rem , 2.5454545455rem  +  2.2727272727vw , 4.25rem )) {
    .item-achievements__title {
      font-size: clamp( 3rem , 2.5454545455rem  +  2.2727272727vw , 4.25rem );
    }
}

@supports not (font-size: clamp( 3rem , 2.5454545455rem  +  2.2727272727vw , 4.25rem )) {
    .item-achievements__title {
      font-size: calc(3rem + 1.25 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 1.875rem , -0.8522727273rem  +  13.6363636364vw , 9.375rem )) {
    .brands {
      padding-top: clamp( 1.875rem , -0.8522727273rem  +  13.6363636364vw , 9.375rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , -0.8522727273rem  +  13.6363636364vw , 9.375rem )) {
    .brands {
      padding-top: calc(1.875rem + 7.5 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 1.875rem , -0.8522727273rem  +  13.6363636364vw , 9.375rem )) {
    .brands {
      padding-bottom: clamp( 1.875rem , -0.8522727273rem  +  13.6363636364vw , 9.375rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , -0.8522727273rem  +  13.6363636364vw , 9.375rem )) {
    .brands {
      padding-bottom: calc(1.875rem + 7.5 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 2rem , 1.6363636364rem  +  1.8181818182vw , 3rem )) {
    .brands__title {
      font-size: clamp( 2rem , 1.6363636364rem  +  1.8181818182vw , 3rem );
    }
}

@supports not (font-size: clamp( 2rem , 1.6363636364rem  +  1.8181818182vw , 3rem )) {
    .brands__title {
      font-size: calc(2rem + 1 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.5681818182rem  +  3.4090909091vw , 3.125rem )) {
    .brands__title:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.5681818182rem  +  3.4090909091vw , 3.125rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.5681818182rem  +  3.4090909091vw , 3.125rem )) {
    .brands__title:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.875 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 1.875rem , -0.8522727273rem  +  13.6363636364vw , 9.375rem )) {
    .about {
      padding-top: clamp( 1.875rem , -0.8522727273rem  +  13.6363636364vw , 9.375rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , -0.8522727273rem  +  13.6363636364vw , 9.375rem )) {
    .about {
      padding-top: calc(1.875rem + 7.5 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 1.875rem , -0.8522727273rem  +  13.6363636364vw , 9.375rem )) {
    .about {
      padding-bottom: clamp( 1.875rem , -0.8522727273rem  +  13.6363636364vw , 9.375rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , -0.8522727273rem  +  13.6363636364vw , 9.375rem )) {
    .about {
      padding-bottom: calc(1.875rem + 7.5 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 2rem , 1.6363636364rem  +  1.8181818182vw , 3rem )) {
    .about__title {
      font-size: clamp( 2rem , 1.6363636364rem  +  1.8181818182vw , 3rem );
    }
}

@supports not (font-size: clamp( 2rem , 1.6363636364rem  +  1.8181818182vw , 3rem )) {
    .about__title {
      font-size: calc(2rem + 1 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.4204545455rem  +  2.2727272727vw , 3.125rem )) {
    .about__title:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 1.4204545455rem  +  2.2727272727vw , 3.125rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.4204545455rem  +  2.2727272727vw , 3.125rem )) {
    .about__title:not(:last-child) {
      margin-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 55);
    }
}

@supports (gap: clamp( 1.875rem , 1.4204545455rem  +  2.2727272727vw , 3.125rem )) {
    .about__body {
      gap: clamp( 1.875rem , 1.4204545455rem  +  2.2727272727vw , 3.125rem );
    }
}

@supports not (gap: clamp( 1.875rem , 1.4204545455rem  +  2.2727272727vw , 3.125rem )) {
    .about__body {
      gap: calc(1.875rem + 1.25 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 6.25rem , 3.9772727273rem  +  11.3636363636vw , 12.5rem )) {
    .contacts__top {
      padding-top: clamp( 6.25rem , 3.9772727273rem  +  11.3636363636vw , 12.5rem );
    }
}

@supports not (padding-top: clamp( 6.25rem , 3.9772727273rem  +  11.3636363636vw , 12.5rem )) {
    .contacts__top {
      padding-top: calc(6.25rem + 6.25 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.5rem , 1rem  +  2.5vw , 2.875rem )) {
    .contacts__title {
      font-size: clamp( 1.5rem , 1rem  +  2.5vw , 2.875rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1rem  +  2.5vw , 2.875rem )) {
    .contacts__title {
      font-size: calc(1.5rem + 1.375 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.5rem , 1.0227272727rem  +  2.3863636364vw , 2.8125rem )) {
    .contacts__title span {
      font-size: clamp( 1.5rem , 1.0227272727rem  +  2.3863636364vw , 2.8125rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.0227272727rem  +  2.3863636364vw , 2.8125rem )) {
    .contacts__title span {
      font-size: calc(1.5rem + 1.3125 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.4204545455rem  +  2.2727272727vw , 3.125rem )) {
    .form-contacts {
      padding-top: clamp( 1.875rem , 1.4204545455rem  +  2.2727272727vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.4204545455rem  +  2.2727272727vw , 3.125rem )) {
    .form-contacts {
      padding-top: calc(1.875rem + 1.25 * (100vw - 20rem) / 55);
    }
}

@supports (width: clamp( 3rem , 1.9090909091rem  +  5.4545454545vw , 6rem )) {
    .form-contacts .sending {
      width: clamp( 3rem , 1.9090909091rem  +  5.4545454545vw , 6rem );
    }
}

@supports not (width: clamp( 3rem , 1.9090909091rem  +  5.4545454545vw , 6rem )) {
    .form-contacts .sending {
      width: calc(3rem + 3 * (100vw - 20rem) / 55);
    }
}

@supports (height: clamp( 3rem , 1.9090909091rem  +  5.4545454545vw , 6rem )) {
    .form-contacts .sending {
      height: clamp( 3rem , 1.9090909091rem  +  5.4545454545vw , 6rem );
    }
}

@supports not (height: clamp( 3rem , 1.9090909091rem  +  5.4545454545vw , 6rem )) {
    .form-contacts .sending {
      height: calc(3rem + 3 * (100vw - 20rem) / 55);
    }
}
}

@media (max-width: 29.99875em) and (min-width: 75em) {
  .menu__link {
    font-size: 2rem;
  }
}

@media (max-width: 29.99875em) and (min-width: 20em) and (max-width: 75em) {
@supports (font-size: clamp( 1.5rem , 1.3181818182rem  +  0.9090909091vw , 2rem )) {
    .menu__link {
      font-size: clamp( 1.5rem , 1.3181818182rem  +  0.9090909091vw , 2rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.3181818182rem  +  0.9090909091vw , 2rem )) {
    .menu__link {
      font-size: calc(1.5rem + 0.5 * (100vw - 20rem) / 55);
    }
}
}

@media (min-width: 62.06125em) and (max-width: 75em) {
@supports ((-moz-column-gap: clamp( 1.25rem , -10.7413534924rem  +  19.3218046566vw , 3.75rem )) or (column-gap: clamp( 1.25rem , -10.7413534924rem  +  19.3218046566vw , 3.75rem ))) {
    .actions-header__list {
      -webkit-column-gap: clamp( 1.25rem , -10.7413534924rem  +  19.3218046566vw , 3.75rem );
         -moz-column-gap: clamp( 1.25rem , -10.7413534924rem  +  19.3218046566vw , 3.75rem );
              column-gap: clamp( 1.25rem , -10.7413534924rem  +  19.3218046566vw , 3.75rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , -10.7413534924rem  +  19.3218046566vw , 3.75rem )) or (column-gap: clamp( 1.25rem , -10.7413534924rem  +  19.3218046566vw , 3.75rem ))) {
    .actions-header__list {
      -webkit-column-gap: calc(1.25rem + 2.5 * (100vw - 62.06125rem) / 12.93875);
         -moz-column-gap: calc(1.25rem + 2.5 * (100vw - 62.06125rem) / 12.93875);
              column-gap: calc(1.25rem + 2.5 * (100vw - 62.06125rem) / 12.93875);
    }
}
}

@media (any-hover: hover) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .button:hover {
    background-color: #585858;
  }

  .button.button--submit:hover {
    background-color: #cccccc;
  }

  .menu__link:hover::before {
    width: 100%;
  }

  .actions-header__link:hover::before {
    width: 100%;
  }
}